h1 Создание комнаты
form(method='POST').create-channel.clearfix.expand
  input(type='hidden', name='_csrf', value='#{csrf}')
  div.clearfix
    label(for='name') Имя команты
    input(type='text', name='channel[name]', required='true')
  input(type='submit', value='Создать')
  button.cancel Отмена