button#uLogin
span.oauth или
form(method='POST')#login
  input(type='text', name='name', maxlength='15', placeholder='Имя пользователя', required='true')#name
  label(for='password') Пароль
  input(type='password', name='password', maxlength='30', required='true')#password
  button(type='submit') Войти / Регистрация
  button#forgot Забыли пароль?