div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
    filter: alpha(opacity = 85)
}

#qtip-overlay {
    filter: alpha(opacity = 70)
}

.ui-tooltip-styling .ui-tooltip-titlebar {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#102F41', EndColorStr = '#0B202D');
}

#bottom, #bottom input[type=text] {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#3D6C1A', EndColorStr = '#315715');
}

#bottom input[type=text]:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#315715', EndColorStr = '#254210');
}

#bottom button[type=submit], #bottom button#smile, #bottom button#help {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#035C56', EndColorStr = '#02433F');
}

#bottom button[type=submit]:hover, #bottom button#smile:hover, #bottom button#smile.pressed, #bottom button#help:hover, #bottom button#help.pressed {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#02433F', EndColorStr = '#012A28');
}

#top {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#0C2433', EndColorStr = '#0F2D40');
}

#top #login input[type=text], #top #login input[type=password] {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#0A202E', EndColorStr = '#0D2B3D');
}

#top #login input[type=text]:focus, #top #login input[type=password]:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#081721', EndColorStr = '#0C2433');
}

#top #login button[type=submit], div.pagination a {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#3B6819', EndColorStr = '#2F5314');
}

#top #login button[type=submit]:hover, div.pagination a {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#2F5314', EndColorStr = '#233E0F');
}

#top #login button#forgot {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#665B19', EndColorStr = '#544813');
}

#top #login button#forgot:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#504513', EndColorStr = '#40380F');
}

#top #user button#channel-list {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#52BEBE', EndColorStr = '#2E8B8B');
}

#top #user button#channel-list:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#41ABAB', EndColorStr = '#2B8080');
}

#top #user div.status:hover, #top #user div.status.opened {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#19384E', EndColorStr = '#132A3B');
}

#channels-content > section .sendto {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#595676', EndColorStr = '#4E4B67');
}

section.account input, section.forgot input, section.recovery input, section.contact input, section.contact textarea {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#38130D', EndColorStr = '#4D1A12');
}

section.account input:focus, section.forgot input:focus, section.recovery input:focus, section.contact input:focus, section.contact textarea:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#230C08', EndColorStr = '#38130D');
}

section.account input[type=submit], section.account button, section.account .uploadifyButton, section.account span.gender, section.account span.switch, section.forgot input[type=submit], section.forgot button, section.recovery input[type=submit], section.contact input[type=submit], section.contact button {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#38130D', EndColorStr = '#30100B');
}

section.account input[type=submit]:hover, section.account span.gender:hover, section.account span.switch:hover, section.account span.gender.checked, section.account span.switch.checked, section.account button:hover, section.account .uploadify:hover .uploadifyButton, section.forgot input[type=submit]:hover, section.forgot button:hover, section.recovery input[type=submit]:hover, section.contact input[type=submit]:hover, section.account button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#4D1A12', EndColorStr = '#451710');
}

section.help button.close {
    border-radius: 3px !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#48112F', EndColorStr = '#3D0E29');
}

section.help button.close:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#581539', EndColorStr = '#4C1132');
}

section.account, section.forgot, section.recovery, section.help, section.contact, section.about {
    filter: alpha(opacity = 90)
}

#panels .channel-list input.filter {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#47425E', EndColorStr = '#373449');
}

#panels .channel-list input.filter:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#3A344B', EndColorStr = '#292736');
}

#channel-list input.filter {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#47425E', EndColorStr = '#373449');
}

#channel-list input.filter:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#3A344B', EndColorStr = '#292736');
}

aside.sidebar input.filter {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#304D65', EndColorStr = '#263C4F');
}

aside.sidebar input.filter:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#273E52', EndColorStr = '#203241');
}

#loading, noscript {
    filter: alpha(opacity = 70)
}

#channels, #channels-content, section#container {
    filter: alpha(opacity = 85)
}

#channels-content > section .separator {
    filter: alpha(opacity = 90)
}

#panels {
    filter: alpha(opacity = 85)
}