script(type='text/html')#mu-ui-message-format
  div.message.clearfix  {{{getTime}}}{{{getName}}}<p>{{{getData}}}</p>

script(type='text/html')#mu-ui-message-format-time
  time [{{time}}]

script(type='text/html')#mu-ui-message-format-archive
  a(href='/message/{{messageId}}', target='_blank') {{{time}}}

script(type='text/html')#mu-ui-message-format-name
  button(class='name {{#isMe}}me{{/isMe}}') {{name}}
  | :