.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix { display: inline-block }
html[xmlns] .clearfix { display: block }
* html .clearfix { height: 1% }

@font-face {
  font-family: 'UniversCyrLight';
  src: url('/fonts/uvyl_-webfont.eot');
  src: url('/fonts/uvyl_-webfont.eot?#iefix') format('embedded-opentype'),
     url('/fonts/uvyl_-webfont.woff') format('woff'),
     url('/fonts/uvyl_-webfont.ttf') format('truetype'),
     url('/fonts/uvyl_-webfont.svg#UniversCyrLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

pre, p {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

#bottom input::-webkit-input-placeholder { color: #89C071; }
#bottom input:-moz-placeholder { color: #89C071; }

#bottom, #bottom input[type=text] {
  background-color: #3D6C1A;
  background-image: -moz-linear-gradient(top, #3D6C1A, #315715);
  background-image: -o-linear-gradient(top, #3D6C1A, #315715);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #3D6C1A),color-stop(1, #315715));
  background-image: -webkit-linear-gradient(#3D6C1A, #315715);
  background-image: linear-gradient(top, #3D6C1A, #315715);
}

#bottom input[type=text]:focus {
  background-color: #254210;
  background-image: -moz-linear-gradient(top, #315715, #254210);
  background-image: -o-linear-gradient(top, #315715, #254210);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #315715),color-stop(1, #254210));
  background-image: -webkit-linear-gradient(#315715, #254210);
  background-image: linear-gradient(top, #315715, #254210);
}

#bottom button[type=submit], #bottom button#smile, #bottom button#help {
background-color: #035C56;
  background-image: -moz-linear-gradient(top, #035C56, #02433F);
  background-image: -o-linear-gradient(top, #035C56, #02433F);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #035C56),color-stop(1, #02433F));
  background-image: -webkit-linear-gradient(#035C56, #02433F);
  background-image: linear-gradient(top, #035C56, #02433F);
}

#bottom button[type=submit]:hover, #bottom button#smile:hover, #bottom button#smile.pressed, #bottom button#help:hover, #bottom button#help.pressed {
  background-color: #02433F;
  background-image: -moz-linear-gradient(top, #02433F, #012A28);
  background-image: -o-linear-gradient(top, #02433F, #012A28);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #02433F),color-stop(1, #012A28));
  background-image: -webkit-linear-gradient(#02433F, #012A28);
  background-image: linear-gradient(top, #02433F, #012A28);
}

#bottom input::-webkit-input-speech-button {
  -webkit-appearance: button;
  background: url(/images/web/mic.png) no-repeat;
  float: right;
  width: 12px;
  height: 22px;
  margin: 2px 5px 2px 0;
  cursor: hand;
}﻿

#channels-content div#smiles::after, #channels-content div#smiles::before {
  position:absolute;
  z-index:1;
  right: 10px;
  bottom:-20px;
  display:block;
  width:0px;
  height:0px;
  border-style:solid;
  border-width:10px 10px 10px 10px;
  border-color: #AC6FAD transparent transparent transparent;
  content:' ';
}

#top {
  background-color: #0C2433;
  background-image: -moz-linear-gradient(top, #0C2433, #0F2D40);
  background-image: -o-linear-gradient(top, #0C2433, #0F2D40);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0C2433),color-stop(1, #0F2D40));
  background-image: -webkit-linear-gradient(#0C2433, #0F2D40);
  background-image: linear-gradient(top, #0C2433, #0F2D40);
}

#top #login input::-webkit-input-placeholder { color: #748E9C; }
#top #login input:-moz-placeholder { color: #748E9C; }

#top #login input[type=text], #top #login input[type=password] {
  background-color: #0A202E;
  background-image: -moz-linear-gradient(top, #0A202E, #0D2B3D);
  background-image: -o-linear-gradient(top, #0A202E, #0D2B3D);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0A202E),color-stop(1, #0D2B3D));
  background-image: -webkit-linear-gradient(#0A202E, #0D2B3D);
  background-image: linear-gradient(top, #0A202E, #0D2B3D);
}


#top #login input[type=text]:focus, #top #login input[type=password]:focus {
  background-color: #081721;
  background-image: -moz-linear-gradient(top, #081721, #0C2433);
  background-image: -o-linear-gradient(top, #081721, #0C2433);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #081721),color-stop(1, #0C2433));
  background-image: -webkit-linear-gradient(#081721, #0C2433);
  background-image: linear-gradient(top, #081721, #0C2433);
}

#top #login button[type=submit] {
  background-color: #3B6819;
  background-image: -moz-linear-gradient(top, #3B6819, #2F5314);
  background-image: -o-linear-gradient(top, #3B6819, #2F5314);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #3B6819),color-stop(1, #2F5314));
  background-image: -webkit-linear-gradient(#3B6819, #2F5314);
  background-image: linear-gradient(top, #3B6819, #2F5314);
}

#top #login button[type=submit]:hover {
  background-color: #2F5314;
  background-image: -moz-linear-gradient(top, #2F5314, #233E0F);
  background-image: -o-linear-gradient(top, #2F5314, #233E0F);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #2F5314),color-stop(1, #233E0F));
  background-image: -webkit-linear-gradient(#2F5314, #233E0F);
  background-image: linear-gradient(top, #2F5314, #233E0F);
}

#top #login button#forgot {
  background-color: #665B19;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#665B19), to(#544813));
  background-image: -webkit-linear-gradient(top, #665B19, #544813);
  background-image: -moz-linear-gradient(top, #665B19, #544813);
  background-image: -ms-linear-gradient(top, #665B19, #544813);
  background-image: -o-linear-gradient(top, #665B19, #544813);
  background-image: linear-gradient(top, #665B19, #544813);
}

#top #login button#forgot:hover {
  background-color: #504513;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#504513), to(#40380F));
  background-image: -webkit-linear-gradient(top, #504513, #40380F);
  background-image: -moz-linear-gradient(top, #504513, #40380F);
  background-image: -ms-linear-gradient(top, #504513, #40380F);
  background-image: -o-linear-gradient(top, #504513, #40380F);
  background-image: linear-gradient(top, #504513, #40380F);
}

#top #user button#channel-list {
  background-color: #52BEBE;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#52BEBE), to(#2E8B8B));
  background-image: -webkit-linear-gradient(top, #52BEBE, #2E8B8B);
  background-image: -moz-linear-gradient(top, #52BEBE, #2E8B8B);
  background-image: -ms-linear-gradient(top, #52BEBE, #2E8B8B);
  background-image: -o-linear-gradient(top, #52BEBE, #2E8B8B);
  background-image: linear-gradient(top, #52BEBE, #2E8B8B);
}

#top #user button#channel-list:hover {
  background-color: #41ABAB;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#41ABAB), to(#2B8080));
  background-image: -webkit-linear-gradient(top, #41ABAB, #2B8080);
  background-image: -moz-linear-gradient(top, #41ABAB, #2B8080);
  background-image: -ms-linear-gradient(top, #41ABAB, #2B8080);
  background-image: -o-linear-gradient(top, #41ABAB, #2B8080);
  background-image: linear-gradient(top, #41ABAB, #2B8080);
}

#top #user div.status:hover, #top #user div.status.opened {
  background-color: #19384E;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#19384E), to(#132A3B));
  background-image: -webkit-linear-gradient(top, #19384E, #132A3B);
  background-image: -moz-linear-gradient(top, #19384E, #132A3B);
  background-image: -ms-linear-gradient(top, #19384E, #132A3B);
  background-image: -o-linear-gradient(top, #19384E, #132A3B);
  background-image: linear-gradient(top, #19384E, #132A3B);
}

#channels, #channels-content { opacity:0.85 }
#channels-content > section .separator { opacity:0.9 }
#channel-list { opacity:0.85 }

#channels-content > section .sendto {
  background-color: #595676;
  background-image: -moz-linear-gradient(top, #595676, #4E4B67);
  background-image: -o-linear-gradient(top, #595676, #4E4B67);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #595676),color-stop(1, #4E4B67));
  background-image: -webkit-linear-gradient(#595676, #4E4B67);
  background-image: linear-gradient(top, #595676, #4E4B67);
}

section.account input::-webkit-input-placeholder { color: #B06E5F; }
section.account input:-moz-placeholder { color: #B06E5F; }

section.account input, section.forgot input, section.recovery input {
  background-color: #38130D;
  background-image: -moz-linear-gradient(top, #38130D, #4D1A12);
  background-image: -o-linear-gradient(top, #38130D, #4D1A12);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#38130D), to(#4D1A12));
  background-image: -webkit-linear-gradient(top, #38130D, #4D1A12);
  background-image: linear-gradient(top, #38130D, #4D1A12);
}

section.account input:focus, section.forgot input:focus, section.recovery input:focus {
  background-color: #230C08;
  background-image: -moz-linear-gradient(top, #230C08, #38130D);
  background-image: -o-linear-gradient(top, #230C08, #38130D);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#230C08), to(#38130D));
  background-image: -webkit-linear-gradient(top, #230C08, #38130D);
  background-image: linear-gradient(top, #230C08, #38130D);
}

section.account input[type=submit], section.account button, section.account .uploadifyButton, section.account span.gender, section.account span.switch, section.forgot input[type=submit], section.forgot button, section.recovery input[type=submit] {
  background-color: #38130D;
  background-image: -moz-linear-gradient(top, #38130D, #30100B);
  background-image: -o-linear-gradient(top, #38130D, #30100B);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#38130D), to(#30100B));
  background-image: -webkit-linear-gradient(top, #38130D, #30100B);
  background-image: linear-gradient(top, #38130D, #30100B);
}

section.account input[type=submit]:hover, section.account span.gender:hover, section.account span.switch:hover, section.account span.gender.checked, section.account span.switch.checked, section.account button:hover, section.account .uploadify:hover .uploadifyButton, section.forgot input[type=submit]:hover, section.forgot button:hover, section.recovery input[type=submit]:hover {
  background-color: #4D1A12;
  background-image: -moz-linear-gradient(top, #4D1A12, #451710);
  background-image: -o-linear-gradient(top, #4D1A12, #451710);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4D1A12), to(#451710));
  background-image: -webkit-linear-gradient(top, #4D1A12, #451710);
  background-image: linear-gradient(top, #4D1A12, #451710);
}

section.help button.close {
  background-color: #48112F;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#48112F), to(#3D0E29));
  background-image: -webkit-linear-gradient(top, #48112F, #3D0E29);
  background-image: -moz-linear-gradient(top, #48112F, #3D0E29);
  background-image: -ms-linear-gradient(top, #48112F, #3D0E29);
  background-image: -o-linear-gradient(top, #48112F, #3D0E29);
  background-image: linear-gradient(top, #48112F, #3D0E29);
}

section.help button.close:hover {
  background-color: #581539;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#581539), to(#4C1132));
  background-image: -webkit-linear-gradient(top, #581539, #4C1132);
  background-image: -moz-linear-gradient(top, #581539, #4C1132);
  background-image: -ms-linear-gradient(top, #581539, #4C1132);
  background-image: -o-linear-gradient(top, #581539, #4C1132);
  background-image: linear-gradient(top, #581539, #4C1132);
}

section.account, section.forgot, section.recovery {
  background-color: #622117;
  background-image: -moz-linear-gradient(top, #622117, #4D1A12);
  background-image: -o-linear-gradient(top, #622117, #4D1A12);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#622117), to(#4D1A12));
  background-image: -webkit-linear-gradient(top, #622117, #4D1A12);
  background-image: linear-gradient(top, #622117, #4D1A12);
  opacity: 0.9;
}

section.help {
  background-color: #611647;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#611647), to(#4C1138));
  background-image: -webkit-linear-gradient(top, #611647, #4C1138);
  background-image: -moz-linear-gradient(top, #611647, #4C1138);
  background-image: -ms-linear-gradient(top, #611647, #4C1138);
  background-image: -o-linear-gradient(top, #611647, #4C1138);
  background-image:  linear-gradient(top, #611647, #4C1138);
  opacity: 0.9;
}

#channel-list input::-webkit-input-placeholder { color: #9E9AAF; }
#channel-list input:-moz-placeholder { color: #9E9AAF; }

#channel-list input.filter {
  background-color: #47425E;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#47425E), to(#373449));
  background-image: -webkit-linear-gradient(top, #47425E, #373449);
  background-image: -moz-linear-gradient(top, #47425E, #373449);
  background-image: -ms-linear-gradient(top, #47425E, #373449);
  background-image: -o-linear-gradient(top, #47425E, #373449);
  background-image: linear-gradient(top, #47425E, #373449);
}

#channel-list input.filter:focus {
  background-color: #3A344B;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3A344B), to(#292736));
  background-image: -webkit-linear-gradient(top, #3A344B, #292736);
  background-image: -moz-linear-gradient(top, #3A344B, #292736);
  background-image: -ms-linear-gradient(top, #3A344B, #292736);
  background-image: -o-linear-gradient(top, #3A344B, #292736);
  background-image: linear-gradient(top, #3A344B, #292736);
}

aside.sidebar input::-webkit-input-placeholder { color: #95A6AA; }
aside.sidebar input:-moz-placeholder { color: #95A6AA; }

aside.sidebar input.filter {
  background-color: #304D65;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#304D65), to(#263C4F));
  background-image: -webkit-linear-gradient(top, #304D65, #263C4F);
  background-image: -moz-linear-gradient(top, #304D65, #263C4F);
  background-image: -ms-linear-gradient(top, #304D65, #263C4F);
  background-image: -o-linear-gradient(top, #304D65, #263C4F);
  background-image: linear-gradient(top, #304D65, #263C4F);
}

aside.sidebar input.filter:focus {
  background-color: #273E52;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#273E52), to(#203241));
  background-image: -webkit-linear-gradient(top, #273E52, #203241);
  background-image: -moz-linear-gradient(top, #273E52, #203241);
  background-image: -ms-linear-gradient(top, #273E52, #203241);
  background-image: -o-linear-gradient(top, #273E52, #203241);
  background-image: linear-gradient(top, #273E52, #203241);
}

#loading, noscript { opacity: 0.7 }
html,body{height:100%;background:#0f3044 url("/images/web/bg.png");font-family:UniversCyrLight,"Gill Sans",Calibri,"Trebuchet MS",sans-serif;overflow:hidden}
input,button{font-family:UniversCyrLight,"Gill Sans",Calibri,"Trebuchet MS",sans-serif}
section.recovery{position:absolute;width:335px;height:160px;left:50%;top:100px;margin-left:-150px;border:1px solid #963b31;-moz-box-shadow:1px 1px 0 #37140d;-webkit-box-shadow:1px 1px 0 #37140d;box-shadow:1px 1px 0 #37140d;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;text-align:center;padding:10px 20px 10px 10px;}
section.recovery h1{font-size:1.1em;margin-bottom:10px;font-weight:normal;color:#d5ad8c;text-shadow:1px 1px 1px #2b110e;padding-bottom:10px}
section.recovery form{text-align:left;margin:10px;margin-bottom:10px;}
section.recovery form label{float:left;font-size:.9em;color:#d5ad8c;text-shadow:1px 1px 1px #2b110e;width:150px;line-height:31px}
section.recovery form input,section.recovery form span,section.recovery form button{float:right}
section.recovery form input,section.recovery form button{border:1px solid #2b110e;-moz-box-shadow:1px 1px 0 #963b31;-webkit-box-shadow:1px 1px 0 #963b31;box-shadow:1px 1px 0 #963b31;padding:2px 5px;margin-top:4px;margin-bottom:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;height:16px;width:150px;color:#b06e5f;font-size:.8em}
section.recovery form input:focus{color:#d1b9a3}
section.recovery form input[type=radio]{width:20px;display:none}
section.recovery form input[type=submit]{width:120px;height:25px;margin-top:10px;border:1px solid #83332b;color:#cea079;-moz-box-shadow:1px 1px 0 #2b110e;-webkit-box-shadow:1px 1px 0 #2b110e;box-shadow:1px 1px 0 #2b110e;text-shadow:1px 1px 1px #2b110e;cursor:pointer;}
section.recovery form input[type=submit]:hover{color:#d5ad8c;border-color:#963a31}
#app{height:auto !important;height:100%;min-height:100%;}
#app #top{height:48px;overflow:hidden;border-bottom:1px solid #174969;outline:1px solid #061117;position:relative;}
#app #top #logo{margin:8px 0 0 15px}
#app #top #login{position:relative;float:right;height:50px;line-height:50px;display:inline-block;}
#app #top #login form{display:block;height:23px;line-height:23px;margin-top:10px;}
#app #top #login form label{margin-right:10px;color:#92a6b2;text-shadow:1px 1px 0 #061117;font-size:.9em}
#app #top #login form input[type=text],#app #top #login form input[type=password]{height:18px;margin-right:10px;padding:1px 2px;border:1px solid #061117;-moz-box-shadow:1px 1px 0 #174969;-webkit-box-shadow:1px 1px 0 #174969;box-shadow:1px 1px 0 #174969;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;color:#748e9c;font-size:.8em;text-shadow:1px 1px 0 #061117;}
#app #top #login form input[type=text]:focus,#app #top #login form input[type=password]:focus{color:#92a6b2}
#app #top #login form button[type=submit],#app #top #login form button#forgot{height:23px;line-height:20px;margin-left:10px;padding:1px 5px;border:1px solid #539223;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;color:#87c15a;font-size:.75em;-moz-box-shadow:1px 1px 0 #17290a;-webkit-box-shadow:1px 1px 0 #17290a;box-shadow:1px 1px 0 #17290a;text-shadow:1px 1px 0 #17290a;}
#app #top #login form button[type=submit]:hover,#app #top #login form button#forgot:hover{color:#87c15a}
#app #top #login form button[type=submit]:active,#app #top #login form button#forgot:active{border:1px solid #000;-moz-box-shadow:1px 1px 0 #539223;-webkit-box-shadow:1px 1px 0 #539223;box-shadow:1px 1px 0 #539223}
#app #top #login form button#forgot{border:1px solid #8c7a22;color:#bdb65e;-moz-box-shadow:1px 1px 0 #29250a;-webkit-box-shadow:1px 1px 0 #29250a;box-shadow:1px 1px 0 #29250a;text-shadow:1px 1px 0 #29250a;}
#app #top #login form button#forgot:hover{color:#bdb65e}
#app #top #login form button#forgot:active{border:1px solid #000;-moz-box-shadow:1px 1px 0 #6e601b;-webkit-box-shadow:1px 1px 0 #6e601b;box-shadow:1px 1px 0 #6e601b}
#app #top button#uLogin,#app #top span.oauth{display:inline-block;float:right}
#app #top button#uLogin{width:50px;height:33px;margin-top:8px;margin-right:15px;background:url("/images/web/oauth.png");border:none;cursor:pointer}
#app #top span.oauth{display:inline-block;padding:0 10px;float:right;color:#92a6b2;text-shadow:1px 1px 0 #061117;font-size:.9em}
#app #top #user{float:right;color:#388e9e;line-height:47px;margin-right:10px;text-shadow:1px 1px 1px #001c1c;font-size:.9em;overflow:hidden;}
#app #top #user div.status{display:inline-block;height:25px;line-height:25px;padding:0 5px;margin:0 1px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
#app #top #user div.status span.name{float:left;color:#85bbc9;margin-right:10px}
#app #top #user div.status span.icon{background:url("/images/web/statuses.png") no-repeat;width:10px;height:10px;display:inline-block;}
#app #top #user div.status span.icon.online{background-position:0 center}
#app #top #user div.status span.icon.away{background-position:-10px center}
#app #top #user div.status span.icon.unavailable{background-position:-20px center}
#app #top #user div.status button.switch{text-decoration:none;display:inline-block;margin-left:5px;border:none;background:none;width:16px;height:16px;color:#85bbc9;font-size:.8em;height:25px;line-height:25px;text-shadow:1px 1px 1px #001c1c;}
#app #top #user div.status button.switch:hover{color:#ccb86b}
#app #top #user div.status div.statuses{display:none;height:25px;line-height:25px;float:right;margin-left:5px;border-left:1px solid #091c28;}
#app #top #user div.status div.statuses button{height:25px;line-height:25px;margin-right:5px;text-decoration:none;text-shadow:1px 1px 1px #001c1c;background:none;}
#app #top #user div.status div.statuses button span.icon{margin:0 5px;float:left;height:25px}
#app #top #user div.status div.statuses button#online .status{color:#62ac2b;}
#app #top #user div.status div.statuses button#online .status:hover{color:#89d34f}
#app #top #user div.status div.statuses button#online .icon{background-position:0 center}
#app #top #user div.status div.statuses button#away .status{color:#aea028;}
#app #top #user div.status div.statuses button#away .status:hover{color:#d6c74d}
#app #top #user div.status div.statuses button#away .icon{background-position:-10px center}
#app #top #user div.status div.statuses button#unavailable .status{color:#b16125;}
#app #top #user div.status div.statuses button#unavailable .status:hover{color:#d98749}
#app #top #user div.status div.statuses button#unavailable .icon{background-position:-20px center}
#app #top #user div.status div.statuses button span.status{float:right;height:25px;line-height:25px}
#app #top #user div.status.closed:hover,#app #top #user div.status.opened{border:1px solid #091c28;-moz-box-shadow:1px 1px 0 #216291;-webkit-box-shadow:1px 1px 0 #216291;box-shadow:1px 1px 0 #216291;margin:0}
#app #top #user div.status.opened{margin:0 5px}
#app #top #user button{text-decoration:underline;cursor:pointer;border:none;padding:0;font-size:1em}
#app #top #user button#account{color:#01ce6d;text-shadow:1px 1px 1px #002010;background:none;}
#app #top #user button#account:hover{text-decoration:none}
#app #top #user button#logout{color:#dd6262;text-shadow:1px 1px 1px #330b0b;background:none;}
#app #top #user button#logout:hover{text-decoration:none}
#app #bottom{position:absolute;bottom:0;height:50px;width:100%;border-top:1px solid #49811f;outline:1px solid #0e1906;z-index:1;}
#app #bottom div{position:relative;width:100%;height:50px;}
#app #bottom div div{width:inherit;height:inherit;padding:10px 125px 10px 50px;}
#app #bottom div div input[type=text]{width:100%;height:26px;padding:1px 5px;border:1px solid #1a2e0b;-moz-box-shadow:1px 1px 0 #49811f;-webkit-box-shadow:1px 1px 0 #49811f;box-shadow:1px 1px 0 #49811f;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;color:#89c071;text-shadow:1px 1px 0 #1a2e0b;font-size:1em;}
#app #bottom div div input[type=text]:focus{color:#e3f0dd;text-shadow:1px 1px 0 #0e1906}
#app #bottom div button[type=submit],#app #bottom div button#smile,#app #bottom div button#help{position:absolute;height:28px;top:10px;padding-bottom:2px;border:1px solid #058e84;-moz-box-shadow:1px 1px 0 #001110;-webkit-box-shadow:1px 1px 0 #001110;box-shadow:1px 1px 0 #001110;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;color:#05aba1;font-size:1em;text-shadow:1px 1px 0 #2e1a0c;}
#app #bottom div button[type=submit]:hover,#app #bottom div button#smile:hover,#app #bottom div button#help:hover{border:1px solid #058e84;color:#06c4b8}
#app #bottom div button[type=submit]:active,#app #bottom div button#smile:active,#app #bottom div button#help:active,#app #bottom div button[type=submit].pressed,#app #bottom div button#smile.pressed,#app #bottom div button#help.pressed{border:1px solid #001110;-moz-box-shadow:1px 1px 0 #058e84;-webkit-box-shadow:1px 1px 0 #058e84;box-shadow:1px 1px 0 #058e84}
#app #bottom div button[type=submit]{right:10px;width:50px}
#app #bottom div button#smile{right:70px;width:30px}
#app #bottom div button#help{left:10px;width:30px}
#app section#container,#app section.account,#app section.forgot,#app section.help{padding:10px 20px 10px 10px;position:relative}
#app section#container #loading,#app section#container noscript{display:block;width:400px;height:30px;line-height:30px;color:#fff;margin:0 auto;text-align:center;font-size:1.3em}
#app section.account,#app section.help,#app section.forgot{position:absolute;top:49px;left:50%;margin-left:-170px;display:none;border:1px solid #963b31;-moz-box-shadow:1px 1px 0 #37140d;-webkit-box-shadow:1px 1px 0 #37140d;box-shadow:1px 1px 0 #37140d;border-top:none;width:340px;padding:10px;text-align:center;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
#app section.account > div,#app section.help > div,#app section.forgot > div{display:none}
#app section.account > div.expand,#app section.help > div.expand,#app section.forgot > div.expand{display:block}
#app section.account h1,#app section.help h1,#app section.forgot h1{font-size:1.1em;margin-bottom:10px;font-weight:normal;color:#d5ad8c;text-shadow:1px 1px 1px #2b110e;cursor:pointer;}
#app section.account h1:hover,#app section.help h1:hover,#app section.forgot h1:hover{color:#fff}
#app section.account form,#app section.help form,#app section.forgot form{display:none;text-align:left;margin:10px;margin-bottom:10px;}
#app section.account form label,#app section.help form label,#app section.forgot form label{float:left;font-size:.9em;color:#d5ad8c;text-shadow:1px 1px 1px #2b110e}
#app section.account form input,#app section.help form input,#app section.forgot form input,#app section.account form span,#app section.help form span,#app section.forgot form span,#app section.account form button,#app section.help form button,#app section.forgot form button{float:right}
#app section.account form input,#app section.help form input,#app section.forgot form input,#app section.account form button,#app section.help form button,#app section.forgot form button{border:1px solid #2b110e;-moz-box-shadow:1px 1px 0 #963b31;-webkit-box-shadow:1px 1px 0 #963b31;box-shadow:1px 1px 0 #963b31;padding:2px 5px;margin-top:4px;margin-bottom:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;height:16px;width:150px;color:#b06e5f;font-size:.8em}
#app section.account form input:focus,#app section.help form input:focus,#app section.forgot form input:focus{color:#d1b9a3}
#app section.account form input[type=radio],#app section.help form input[type=radio],#app section.forgot form input[type=radio]{width:20px;display:none}
#app section.account form input[type=submit],#app section.help form input[type=submit],#app section.forgot form input[type=submit],#app section.account form button,#app section.help form button,#app section.forgot form button,#app section.account form .uploadifyButton,#app section.help form .uploadifyButton,#app section.forgot form .uploadifyButton{width:90px;height:25px;margin-top:10px;border:1px solid #83332b;color:#cea079;-moz-box-shadow:1px 1px 0 #2b110e;-webkit-box-shadow:1px 1px 0 #2b110e;box-shadow:1px 1px 0 #2b110e;text-shadow:1px 1px 1px #2b110e;cursor:pointer;}
#app section.account form input[type=submit]:hover,#app section.help form input[type=submit]:hover,#app section.forgot form input[type=submit]:hover,#app section.account form button:hover,#app section.help form button:hover,#app section.forgot form button:hover,#app section.account form .uploadifyButton:hover,#app section.help form .uploadifyButton:hover,#app section.forgot form .uploadifyButton:hover{color:#d5ad8c;border-color:#963a31}
#app section.account form span.gender,#app section.help form span.gender,#app section.forgot form span.gender,#app section.account form span.switch,#app section.help form span.switch,#app section.forgot form span.switch{display:block;color:#d5ad8c;font-size:1em;width:20px;height:24px;line-height:24px;margin:4px 2px 3px 2px;padding:0 5px;text-align:center;border:1px solid #83332b;-moz-box-shadow:1px 1px 0 #2b110e;-webkit-box-shadow:1px 1px 0 #2b110e;box-shadow:1px 1px 0 #2b110e;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;cursor:pointer;float:left;}
#app section.account form span.gender:hover,#app section.help form span.gender:hover,#app section.forgot form span.gender:hover,#app section.account form span.switch:hover,#app section.help form span.switch:hover,#app section.forgot form span.switch:hover{color:#d5ad8c;border-color:#963a31}
#app section.account form span.gender.checked,#app section.help form span.gender.checked,#app section.forgot form span.gender.checked,#app section.account form span.switch.checked,#app section.help form span.switch.checked,#app section.forgot form span.switch.checked{border:1px solid #2b110e;-moz-box-shadow:1px 1px 0 #83332b;-webkit-box-shadow:1px 1px 0 #83332b;box-shadow:1px 1px 0 #83332b}
#app section.account form button,#app section.help form button,#app section.forgot form button{margin-right:10px}
#app section.account form div,#app section.help form div,#app section.forgot form div{width:100%;height:31px;line-height:31px}
#app section.account form.expand,#app section.help form.expand,#app section.forgot form.expand{display:block}
#app section.account form.account label,#app section.help form.account label,#app section.forgot form.account label{width:150px}
#app section.account form.account span.gender-container,#app section.help form.account span.gender-container,#app section.forgot form.account span.gender-container{width:162px;float:right}
#app section.account form.account span.male,#app section.help form.account span.male,#app section.forgot form.account span.male{margin-left:0}
#app section.account form.account .pic,#app section.help form.account .pic,#app section.forgot form.account .pic{height:80px;}
#app section.account form.account .pic .userpic,#app section.help form.account .pic .userpic,#app section.forgot form.account .pic .userpic{border:3px solid #33110c;padding:5px;margin:0 auto;float:left}
#app section.account form.account .pic #userpic,#app section.help form.account .pic #userpic,#app section.forgot form.account .pic #userpic{display:block;float:left;margin:50px 0 0 80px;}
#app section.account form.account .pic #userpic .uploadifyButton,#app section.help form.account .pic #userpic .uploadifyButton,#app section.forgot form.account .pic #userpic .uploadifyButton{margin:0;height:25px;width:90px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
#app section.account form.account .pic #userpic .uploadifyButton span,#app section.help form.account .pic #userpic .uploadifyButton span,#app section.forgot form.account .pic #userpic .uploadifyButton span{margin:0;float:none;display:block;height:25px;line-height:25px;text-align:center;font-size:.8em}
#app section.account form.account .pic #userpic_queue,#app section.help form.account .pic #userpic_queue,#app section.forgot form.account .pic #userpic_queue{display:none}
#app section.account form.audio-settings label,#app section.help form.audio-settings label,#app section.forgot form.audio-settings label,#app section.account form.interface-settings label,#app section.help form.interface-settings label,#app section.forgot form.interface-settings label{width:250px}
#app section.account form.audio-settings input[type=checkbox],#app section.help form.audio-settings input[type=checkbox],#app section.forgot form.audio-settings input[type=checkbox],#app section.account form.interface-settings input[type=checkbox],#app section.help form.interface-settings input[type=checkbox],#app section.forgot form.interface-settings input[type=checkbox]{display:none}
#app section.account form.audio-settings span.audio-container,#app section.help form.audio-settings span.audio-container,#app section.forgot form.audio-settings span.audio-container,#app section.account form.interface-settings span.audio-container,#app section.help form.interface-settings span.audio-container,#app section.forgot form.interface-settings span.audio-container,#app section.account form.audio-settings span.interface-container,#app section.help form.audio-settings span.interface-container,#app section.forgot form.audio-settings span.interface-container,#app section.account form.interface-settings span.interface-container,#app section.help form.interface-settings span.interface-container,#app section.forgot form.interface-settings span.interface-container{width:70px}
#app section.account form.audio-settings span.switch,#app section.help form.audio-settings span.switch,#app section.forgot form.audio-settings span.switch,#app section.account form.interface-settings span.switch,#app section.help form.interface-settings span.switch,#app section.forgot form.interface-settings span.switch{font-size:.8em;margin:0;float:right}
#app section.help{width:600px;height:400px;margin-left:-300px;border:1px solid #953075;border-top:none;-moz-box-shadow:1px 1px 0 #360e2f;-webkit-box-shadow:1px 1px 0 #360e2f;box-shadow:1px 1px 0 #360e2f;padding:10px 15px;}
#app section.help div.helpscroll li{cursor:pointer;}
#app section.help div.helpscroll li:hover{color:#fff}
#app section.help div.helpscroll,#app section.help div.rulesscroll{height:335px;position:relative}
#app section.help .scrollingHotSpotUp,#app section.help .scrollingHotSpotDown{position:absolute;width:100px;height:20px;left:50%;background:#420f2c;border:1px solid #894c76;-moz-box-shadow:1px 1px 0 #2b1a2d;-webkit-box-shadow:1px 1px 0 #2b1a2d;box-shadow:1px 1px 0 #2b1a2d;color:#ecaad7;text-shadow:1px 1px 1px #2b0e2c;display:none;z-index:2;font-size:1.2em;line-height:24px;margin-left:-50px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
#app section.help .scrollingHotSpotUp:hover,#app section.help .scrollingHotSpotDown:hover{color:#fc3}
#app section.help .scrollingHotSpotUp{top:0}
#app section.help .scrollingHotSpotDown{bottom:0}
#app section.help .scrollableArea{position:absolute;top:0;right:0;bottom:0;left:0;overflow:hidden;padding-bottom:10px}
#app section.help h1{color:#ecaad7;text-shadow:1px 1px 1px #2b0e2c}
#app section.help h2{text-align:left;color:#ecaaaa;text-shadow:1px 1px 1px #420f0f;font-weight:normal;margin:10px 0 5px 0}
#app section.help ol{text-align:left;list-style:decimal inside;padding-left:10px}
#app section.help ol p{color:#d7bfd2;display:none;padding:8px;}
#app section.help ol p.expand{display:block}
#app section.help ol li{background:transparent;float:none;color:#d7bfd2;text-shadow:1px 1px 1px #2b0e2c;border:none;text-align:left;height:auto !important;line-height:20px}
#app section.help button.close{position:absolute;right:10px;top:0;width:27px;height:25px;margin-top:10px;border:1px solid #894c76;-moz-box-shadow:1px 1px 0 #2b1a2d;-webkit-box-shadow:1px 1px 0 #2b1a2d;box-shadow:1px 1px 0 #2b1a2d;color:#ecaad7;text-shadow:1px 1px 1px #2b0e2c;cursor:pointer;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;}
#app section.help button.close:hover{color:#f3cbe7;border-color:#92517d}
#app section.forgot{height:165px;width:360px;}
#app section.forgot h1{cursor:default;padding-bottom:5px;}
#app section.forgot h1:hover{color:#d5ad8c}
#app section.forgot p{padding-bottom:10px;text-align:center;color:#d5ad8c;text-shadow:1px 1px 1px #2b110e;font-size:1em}
#app section.forgot input[type=submit]{width:120px !important}
#app #channel-list-holder{position:fixed;bottom:60px;top:59px;left:5px;width:10px;z-index:3;background:#0f2c3e;border:1px solid #1e597d;-moz-box-shadow:1px 0 0 #0a1d29;-webkit-box-shadow:1px 0 0 #0a1d29;box-shadow:1px 0 0 #0a1d29;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;outline:none;cursor:pointer;}
#app #channel-list-holder:hover{background:#491b12;border:1px solid #933523;-moz-box-shadow:1px 1px 0 #30120c;-webkit-box-shadow:1px 1px 0 #30120c;box-shadow:1px 1px 0 #30120c}
#app #channel-list{position:fixed;bottom:60px;top:59px;left:-265px;width:250px;z-index:3;border:1px solid #25202f;background:#423953;-moz-border-radius-bottomright:5px;-khtml-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomleft:5px;-khtml-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;}
#app #channel-list .filterBox{position:absolute;bottom:10px;left:0;right:0;padding:0 25px 0 15px;}
#app #channel-list .filterBox input.filter{height:20px;line-height:20px;width:100%;border:1px solid #23212e;-moz-box-shadow:1px 1px 0 #625a85;-webkit-box-shadow:1px 1px 0 #625a85;box-shadow:1px 1px 0 #625a85;padding:2px 5px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;color:#9e9aaf;}
#app #channel-list .filterBox input.filter:focus{color:#beb9d0}
#app #channel-list header{display:inline-block;font-weight:normal;text-align:center;height:30px;line-height:30px;color:#bec9c9;font-size:.9em;text-shadow:1px 1px 0 #313a3a;width:100%}
#app #channel-list menu{position:absolute;top:35px;bottom:44px;left:0;right:0;list-style:none;overflow:hidden;}
#app #channel-list menu li{width:100%;background:transparent;border:none;height:auto;float:none;margin:3px 0;line-height:17px;}
#app #channel-list menu li button{padding:0;margin:0 15px;height:auto;border:none;max-width:85%;background:transparent;color:#9d9bb9;text-shadow:1px 1px 0 #201f2c;text-align:left;cursor:pointer;}
#app #channel-list menu li button:hover{color:#e1e0e9}
#app #channel-list menu li button span{text-overflow:ellipsis;word-wrap:break-word;padding:0}
#app #channel-list .scrollingHotSpotUp,#app #channel-list .scrollingHotSpotDown{position:absolute;width:70px;height:20px;left:50%;background:#2c2c3f;border:1px solid #201e2d;display:none;z-index:2;color:#8982b0;font-size:1.2em;line-height:24px;margin-left:-35px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
#app #channel-list .scrollingHotSpotUp:hover,#app #channel-list .scrollingHotSpotDown:hover{color:#fc3}
#app #channel-list .scrollingHotSpotUp{top:35px}
#app #channel-list .scrollingHotSpotDown{bottom:49px}
#channels{position:absolute;top:10px;left:25px;right:10px;padding:0;margin:0;list-style:none;height:33px;background:transparent url("/images/web/tabs-bg.gif") repeat-x bottom;border-left:1px solid #0c2534;display:none;overflow:hidden;}
#channels li{float:left;margin:0;padding:0;display:none;height:31px;line-height:28px;border:1px solid #0c2534;border-left:none;margin-bottom:-1px;background:#0c2534;overflow:hidden;}
#channels li button{font-size:.9em;display:block;padding:0 15px;border:1px solid #143e56;outline:none;float:left;height:31px;z-index:0;color:#6b828d;text-shadow:0 1px 1px #061219;background:#0c2534;margin:0;cursor:pointer;}
#channels li button:hover{color:#aebbc1}
#channels li button span.count{padding-left:5px}
#channels li button.remove{color:#a15b66;border-left:none;padding:0 15px 0 1px;margin-left:-1px;z-index:1;}
#channels li button.remove:hover{color:#deb3ba}
#channels li.current{background:#143e56;border-bottom:1px solid #143e56;}
#channels li.current button{color:#92b229;border-bottom:1px solid #143e56;background:#143e56;height:31px;cursor:default;}
#channels li.current button.remove{cursor:pointer;background:#143e56;color:#d66004;}
#channels li.current button.remove:hover{color:#ffa661}
#channels li.arrow{display:none;background:transparent;border:0;margin:0;padding:0;width:31px;height:32px;margin-bottom:1px;position:relative;overflow:visible;}
#channels li.arrow div{position:absolute;right:-16px;top:0;bottom:0;width:0;height:0;border-top:16px solid transparent;border-bottom:16px solid transparent;border-left:16px solid #92b229}
#channels li.arrow div.counter{position:static;font-size:.9em;float:left;margin:0;background:#92b229;border:0;padding:0;width:100%;text-align:center;height:32px;line-height:32px;color:#435113;text-overflow:ellipsis;text-shadow:none}
#channels-content{position:fixed;bottom:60px;top:92px;left:25px;right:10px;border:1px solid #0c2534;border-top:none;background:#143e56;padding:10px;display:none;z-index:2;overflow:visible;-moz-border-radius-bottomright:5px;-khtml-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomleft:5px;-khtml-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;}
#channels-content .ternMask{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
#channels-content > section{top:10px;bottom:10px;left:10px;right:10px;position:absolute;overflow:visible;}
#channels-content > section .chat,#channels-content > section .separator,#channels-content > section .sidebar{position:absolute;top:0;bottom:0}
#channels-content > section .chat{left:0;right:280px;z-index:1;}
#channels-content > section .chat .scrollingHotSpotUp,#channels-content > section .chat .scrollingHotSpotDown{position:absolute;width:100px;height:20px;left:50%;background:#162b38;border:1px solid #0f1d26;display:none;z-index:2;color:#a2dfdf;font-size:1.2em;line-height:24px;margin-left:-50px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
#channels-content > section .chat .scrollingHotSpotUp:hover,#channels-content > section .chat .scrollingHotSpotDown:hover{color:#fc3}
#channels-content > section .chat .scrollingHotSpotUp{top:0}
#channels-content > section .chat .scrollingHotSpotDown{bottom:0}
#channels-content > section .chat .scrollableArea{position:absolute;top:0;right:0;bottom:0;left:0;overflow:hidden;padding-bottom:10px}
#channels-content > section .chat div.message{color:#81cb67;line-height:18px;}
#channels-content > section .chat div.message.ignore{display:none}
#channels-content > section .chat div.message time{color:#fc3;text-shadow:0 1px 1px #0f1619;font-size:.9em;letter-spacing:1px}
#channels-content > section .chat div.message button{color:#81cb67;text-shadow:1px 1px 1px #12250d;background:none;border:none;padding:0;cursor:pointer;font-size:.9em;height:18px;line-height:18px;}
#channels-content > section .chat div.message button:hover{color:#daebd7}
#channels-content > section .chat div.message button.name{margin-left:5px}
#channels-content > section .chat div.message button.me{color:#e98ddf;cursor:default}
#channels-content > section .chat div.message p{color:#d7e9ea;margin-left:10px;font-size:.9em;text-shadow:1px 1px 1px #142727;display:inline;}
#channels-content > section .chat div.message p button.name{margin:0}
#channels-content > section .chat div.message p img{vertical-align:text-bottom}
#channels-content > section .chat div.message p a.userLink{color:#aad6df;}
#channels-content > section .chat div.message p a.userLink:hover{color:#d8e5ae}
#channels-content > section .separator{right:260px;width:10px;display:block;z-index:1;background:#0f2c3e;border:1px solid #1e597d;-moz-box-shadow:1px 0 0 #0a1d29;-webkit-box-shadow:1px 0 0 #0a1d29;box-shadow:1px 0 0 #0a1d29;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;outline:none;cursor:pointer;}
#channels-content > section .separator:hover{background:#491b12;border:1px solid #933523;-moz-box-shadow:1px 1px 0 #30120c;-webkit-box-shadow:1px 1px 0 #30120c;box-shadow:1px 1px 0 #30120c}
#channels-content > section .sidebar{right:0;width:250px;z-index:0;}
#channels-content > section .sidebar header{position:absolute;top:0;left:0;right:0;height:20px;line-height:20px;text-align:center;color:#bec9c9;font-size:.9em;text-shadow:1px 1px 0 #313a3a}
#channels-content > section .sidebar ul{position:absolute;top:25px;bottom:44px;left:0;right:0;padding:0;display:block;}
#channels-content > section .sidebar ul li{background:none;border:none;display:inline-block;height:auto;width:100%;}
#channels-content > section .sidebar ul li button.name{text-align:left;background:transparent;word-wrap:break-word;text-overflow:ellipsis;float:left;border:none;cursor:pointer;color:#81cb67;text-shadow:1px 1px 1px #12250d;max-width:72%;min-height:20px;line-height:20px;display:inline;height:auto !important;padding:0;}
#channels-content > section .sidebar ul li button.name:hover{color:#daebd7}
#channels-content > section .sidebar ul li button.name.me{color:#e98ddf;cursor:default}
#channels-content > section .sidebar ul li span.gender,#channels-content > section .sidebar ul li span.status{display:inline-block;float:left;text-indent:-9999px}
#channels-content > section .sidebar ul li span.gender{background:url("/images/web/gender.png") no-repeat;margin-left:3px;width:16px;height:20px;}
#channels-content > section .sidebar ul li span.gender.male{background-position:0 center;color:#62b4e3}
#channels-content > section .sidebar ul li span.gender.female{background-position:-16px center;color:#ffc0cb}
#channels-content > section .sidebar ul li span.status{background:url("/images/web/statuses.png") no-repeat;width:10px;height:20px;margin:0 5px 0 10px;}
#channels-content > section .sidebar ul li span.status.online{background-position:0 center}
#channels-content > section .sidebar ul li span.status.away{background-position:-10px center}
#channels-content > section .sidebar ul li span.status.unavailable{background-position:-20px center}
#channels-content > section .sidebar ul li.ignore{opacity:.6}
#channels-content > section .sidebar .filterBox{position:absolute;bottom:10px;left:0;right:0;padding:0 25px 0 15px;}
#channels-content > section .sidebar .filterBox input.filter{height:20px;line-height:20px;width:100%;border:1px solid #0f2b3c;-moz-box-shadow:1px 1px 0 #326685;-webkit-box-shadow:1px 1px 0 #326685;box-shadow:1px 1px 0 #326685;padding:2px 5px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;color:#95a6aa;}
#channels-content > section .sidebar .filterBox input.filter:focus{color:#cdd5d6}
#channels-content > section .sidebar .scrollingHotSpotUp,#channels-content > section .sidebar .scrollingHotSpotDown{position:absolute;width:70px;height:20px;left:50%;background:#162b38;border:1px solid #0f1d26;display:none;z-index:2;color:#a2dfdf;font-size:1.2em;line-height:24px;margin-left:-35px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
#channels-content > section .sidebar .scrollingHotSpotUp:hover,#channels-content > section .sidebar .scrollingHotSpotDown:hover{color:#fc3}
#channels-content > section .sidebar .scrollingHotSpotUp{top:30px}
#channels-content > section .sidebar .scrollingHotSpotDown{bottom:49px}
#channels-content > section .sendto{display:none;position:absolute;left:-10px;bottom:-25px;z-index:10;height:20px;border:1px solid #383126;padding:3px 1px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#channels-content > section .sendto span{float:left;margin:0 5px;font-size:.9em;line-height:20px;color:#16141c}
#channels-content > section .sendto li{float:left;display:inline-block;background:#434058;height:16px;line-height:16px;border:none;padding:2px 6px;margin:0 2px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
#channels-content > section .sendto li button{background:none;line-height:16px;font-size:.9em;height:16px;border:none;color:#16141c;text-shadow:none;cursor:default;padding:0;}
#channels-content > section .sendto li button.name{margin-right:5px}
#channels-content > section .sendto li button.close{cursor:pointer;}
#channels-content > section .sendto li button.close:hover{color:#9b99b5}
#channels-content > section .type{display:none;z-index:10;height:16px;padding:3px 1px;}
#channels-content > section .type span{float:left;display:block;height:16px;width:60px;background:url("/images/web/typing.png") no-repeat left center;margin-left:2px;padding:0 5px 0 26px;color:#ccc;line-height:14px;font-size:.9em;text-shadow:1px 1px 1px #142727}
#channels-content > section .type li{float:left;display:inline-block;background:none;height:16px;line-height:16px;border:none;padding:0 6px;margin:-1px 2px;color:#ccc;font-size:.9em;text-shadow:1px 1px 1px #142727}
#channels-content div#smiles{position:absolute;display:none;bottom:-10px;right:45px;width:245px;height:170px;z-index:10;background:#4a324a;border:1px solid #ac6fad;-moz-box-shadow:1px 0 0 #140914;-webkit-box-shadow:1px 0 0 #140914;box-shadow:1px 0 0 #140914;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;padding:10px;margin:10px;}
#channels-content div#smiles img{margin:2px;cursor:pointer}
.qtip .pic{border:3px solid #77afd2;padding:5px;margin:5px}
.qtip .profile,.qtip .channelinfo{display:block;width:170px;background:transparent;margin:5px 0 10px 0;float:right;list-style:none;}
.qtip .profile li,.qtip .channelinfo li{padding:0;border:0;width:inherit;background:transparent;line-height:19px;height:19px;}
.qtip .profile li span,.qtip .channelinfo li span{display:inline-block}
.qtip .profile li span.param,.qtip .channelinfo li span.param{width:90px;float:left}
.qtip .profile li span.value,.qtip .channelinfo li span.value{width:80px;float:right}
.qtip .actions{width:100%;}
.qtip .actions button{height:25px;font-size:.9em;background:#d2e8f4;color:#0a1d29;border:2px solid #6eb1db;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;outline:none;cursor:pointer;margin:0 5px;}
.qtip .actions button:hover{background:#c03;border:2px solid #990027;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;color:#fff}
.qtip .actions button.disabled{background:#dee7e9;border-color:#97aeb3;color:#63797a;cursor:default;}
.qtip .actions button.disabled:hover{background:#dee7e9;border-color:#97aeb3;color:#63797a}
.qtip .yesno{margin:10px 0;}
.qtip .yesno button{width:50px;margin:0 5px;float:right}
.qtip .channelinfo{width:200px;margin:0;float:none;}
.qtip .channelinfo li span.param{width:120px}
