div.console-header
  height 25px
  line-height 25px
  text-align right
  button
    height 25px
    line-height 25px
    background none
    border none
    display inline
div.console
  height 200px
  min-height 200px
  overflow scroll
  background #FFF
  display none
  padding 10px
  color #000