.main-container
  margin-top 40px
  h3
    padding 20px
#console
  .navbar-inner
    background none
  .console-header
    height 25px
    line-height 25px
    text-align right
    border-bottom 3px solid #444
    button
      width 20px
      margin-bottom 5px
      border none
      display inline-block
      padding 0
      background url(/images/web/console-arrow.png) no-repeat
      &.up
        background-position left center
      &.down
        background-position right center
    span
      color #000
      padding 0px 10px
      height 28px
      display inline-block
  .console
    height 200px
    overflow-y scroll
    overflow-x hidden
    background #FFF
    display none
    padding 10px
    color #000
#chart-messages, #chart-connections
  height 150px
  width 800px
#user-search, #message-search
  padding 20px 0
  input
    margin-right 10px
    width 180px
#user-list
  td.actions
    width 8%
#message-list
  td.text
    width 40%
    button.name
      display inline
      border 0
      background none
      padding 0
      color #08C
      &:hover
        color #005580
        text-decoration underline
    em
      background yellow
  td.actions
    width 8%
#task-list
  td.name
    width 90%
  td.state
    width 6%