@css {
  @font-face {
    font-family: 'UniversCyrLight';
    src: url('/fonts/uvyl_-webfont.eot');
    src: url('/fonts/uvyl_-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/uvyl_-webfont.woff') format('woff'),
    url('/fonts/uvyl_-webfont.ttf') format('truetype'),
    url('/fonts/uvyl_-webfont.svg#UniversCyrLight') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  #top {
    background-color: #0C2433;
    background-image: -moz-linear-gradient(top, #0C2433, #0F2D40);
    background-image: -o-linear-gradient(top, #0C2433, #0F2D40);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0C2433),color-stop(1, #0F2D40));
    background-image: -webkit-linear-gradient(#0C2433, #0F2D40);
    background-image: linear-gradient(top, #0C2433, #0F2D40);
  }

  section#container, section#messages-container { opacity:0.85 }

  div.pagination a {
    background-color: #3B6819;
    background-image: -moz-linear-gradient(top, #3B6819, #2F5314);
    background-image: -o-linear-gradient(top, #3B6819, #2F5314);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #3B6819),color-stop(1, #2F5314));
    background-image: -webkit-linear-gradient(#3B6819, #2F5314);
    background-image: linear-gradient(top, #3B6819, #2F5314);
  }

  div.pagination a:hover {
    background-color: #2F5314;
    background-image: -moz-linear-gradient(top, #2F5314, #233E0F);
    background-image: -o-linear-gradient(top, #2F5314, #233E0F);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #2F5314),color-stop(1, #233E0F));
    background-image: -webkit-linear-gradient(#2F5314, #233E0F);
    background-image: linear-gradient(top, #2F5314, #233E0F);
  }

  section.contact input::-webkit-input-placeholder, section.contact textarea::-webkit-input-placeholder { color: #B06E5F; }
  section.contact input:-moz-placeholder, section.contact textarea:-moz-placeholder { color: #B06E5F; }

  section.contact input, section.contact textarea, section.recovery input {
    background-color: #38130D;
    background-image: -moz-linear-gradient(top, #38130D, #4D1A12);
    background-image: -o-linear-gradient(top, #38130D, #4D1A12);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#38130D), to(#4D1A12));
    background-image: -webkit-linear-gradient(top, #38130D, #4D1A12);
    background-image: linear-gradient(top, #38130D, #4D1A12);
  }

  section.contact input:focus, section.contact textarea:focus, section.recovery input:focus {
    background-color: #230C08;
    background-image: -moz-linear-gradient(top, #230C08, #38130D);
    background-image: -o-linear-gradient(top, #230C08, #38130D);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#230C08), to(#38130D));
    background-image: -webkit-linear-gradient(top, #230C08, #38130D);
    background-image: linear-gradient(top, #230C08, #38130D);
  }

  section.contact input[type=submit], section.contact button, section.recovery input[type=submit] {
    background-color: #38130D;
    background-image: -moz-linear-gradient(top, #38130D, #30100B);
    background-image: -o-linear-gradient(top, #38130D, #30100B);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#38130D), to(#30100B));
    background-image: -webkit-linear-gradient(top, #38130D, #30100B);
    background-image: linear-gradient(top, #38130D, #30100B);
  }

  section.contact input[type=submit]:hover, section.account button:hover, section.recovery input[type=submit]:hover {
    background-color: #4D1A12;
    background-image: -moz-linear-gradient(top, #4D1A12, #451710);
    background-image: -o-linear-gradient(top, #4D1A12, #451710);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4D1A12), to(#451710));
    background-image: -webkit-linear-gradient(top, #4D1A12, #451710);
    background-image: linear-gradient(top, #4D1A12, #451710);
  }

  section.contact, section.recovery, section.about {
    background-color: #622117;
    background-image: -moz-linear-gradient(top, #622117, #4D1A12);
    background-image: -o-linear-gradient(top, #622117, #4D1A12);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#622117), to(#4D1A12));
    background-image: -webkit-linear-gradient(top, #622117, #4D1A12);
    background-image: linear-gradient(top, #622117, #4D1A12);
    opacity: 0.9;
  }
}

top_height = 50px
bottom_height = 50px
tab_height = 31px

border-radius()
  -moz-border-radius arguments
  -webkit-border-radius arguments
  border-radius arguments

box-shadow()
  -moz-box-shadow arguments
  -webkit-box-shadow arguments
  box-shadow arguments

html
body
  height 100%
  background #0F3044 url(/images/web/bg.png)
  font-family UniversCyrLight, "Gill Sans", Calibri, "Trebuchet MS", sans-serif
input, textarea, button
  font-family UniversCyrLight, "Gill Sans", Calibri, "Trebuchet MS", sans-serif

#app
  height auto !important
  height 100%
  min-height 100%
  #top
    height top_height - 2px
    overflow hidden
    border-bottom 1px solid #174969
    outline 1px solid #061117
    position relative
    #logo
      margin 8px 0 0 15px
  section#container, section#messages-container
    padding 20px
    margin 20px auto
    position relative
    border 1px solid #0C2534
    background #143E56
    width 400px
    a.back
      display inline-block
      color #BEC9C9
      margin-bottom 20px
      text-decoration none
      font-family UniversCyrLight, "Gill Sans", Calibri, "Trebuchet MS", sans-serif
      font-size 0.95em
      &:hover
        text-decoration underline
        color #92B229
    h4
      font-weight normal
      display block
      text-align center
      font-family UniversCyrLight, "Gill Sans", Calibri, "Trebuchet MS", sans-serif
      color #BEC9C9
      font-size 1.1em
      &.message-id
        display none
    ul#channels, ul#years, ul#days
      list-style none
      margin 20px 0
      text-align center
      li
        padding 3px 0
        color #BEC9C9
        font-family UniversCyrLight, "Gill Sans", Calibri, "Trebuchet MS", sans-serif
        a
          color #BEC9C9
          text-decoration none
          font-family UniversCyrLight, "Gill Sans", Calibri, "Trebuchet MS", sans-serif
          font-size 0.95em
          &:hover
            text-decoration underline
            color #92B229
    ul#years, ul#days
      li a
        text-transform capitalize
    div.pagination
      height 20px
      a
        display block
        padding 1px 5px
        border 1px solid #539223
        border-radius 3px
        color #87C15A
        font-size .75em
        box-shadow 1px 1px 0 #17290A
        text-shadow 1px 1px 0 #17290A
        line-height 20px
        text-decoration none
        &:hover
          color #87C15A
        &:active
          border 1px solid #000
          box-shadow 1px 1px 0 #539223
      a.prev
        float left
      a.next
        float right
  section#messages-container
    width auto
    margin 10px
    a.back
      display inline
      float left
      margin 0
    #messages
      margin 20px 0
    div.message
      &.ignore
        display none
      color #81CB67
      line-height 18px
      & > a
        text-decoration none
        color #FFCC33
        &:hover
          border-bottom 1px dotted #FFCC33
      time
        color #FFCC33
        text-shadow 0 1px 1px #0F1619
        font-size .9em
        letter-spacing 1px
      button
        color #81CB67
        text-shadow 1px 1px 1px #12250D
        background none
        border none
        padding 0
        font-size .9em
        height 18px
        line-height 18px
      button.name
        margin-left 5px
      p
        color #D7E9EA
        margin-left 10px
        font-size .9em
        text-shadow 1px 1px 1px #142727
        display inline
        & button.name
          margin 0
        img
          vertical-align text-bottom
        a.userLink
          color #AAD6DF
          &:hover
            color #D8E5AE
  section.contact, section.about, section.recovery
    margin 0 auto
    padding 10px 20px 10px 10px
    position relative
    border 1px solid #963B31
    box-shadow 1px 1px 0 #37140D
    border-top none
    width 340px
    padding 10px
    text-align center
    -webkit-border-bottom-right-radius 5px
    -webkit-border-bottom-left-radius 5px
    -moz-border-radius-bottomright 5px
    -moz-border-radius-bottomleft 5px
    border-bottom-right-radius 5px
    border-bottom-left-radius 5px
    h1
      font-size 1.1em
      margin-bottom 10px
      font-weight normal
      color #D5AD8C
      text-shadow 1px 1px 1px #2B110E
    form
      text-align left
      margin 10px
      label
        float left
        font-size 0.9em
        color #D5AD8C
        text-shadow 1px 1px 1px #2B110E
      input, textarea, button
        float right
        border 1px solid #2B110E
        box-shadow 1px 1px 0 #963B31
        padding 2px 5px
        margin-top 4px
        margin-bottom 3px
        border-radius 3px
        height 16px
        width 150px
        color #B06E5F
        font-size 0.8em
      textarea
        width 305px
        height 100px
        float left
        clear both
        overflow hidden
      input:focus, textarea:focus
        color #D1B9A3
      input[type=submit], button
        width 165px
        height 25px
        line-height 21px;
        margin 10px 0 10px 0
        border 1px solid #83332B
        color #CEA079
        box-shadow 1px 1px 0 #2B110E
        text-shadow 1px 1px 1px #2B110E
        cursor pointer
        &:hover
          color #D5AD8C
          border-color #963A31
      div
        width 100%
        height 31px
        line-height 31px
      div.clearfix.message
        height 151px
  section.about
    width 650px
  section.recovery
    form
      input[type=submit]
        width 125px