*
  background-color #FFF !important
  background-image none !important
  color #000 !important
  text-shadow none !important
  font-family Arial, "Helvetica Neue", Helvetica, sans-serif !important
a
  color #000 !important
  text-decoration none !important
  font-family Arial, "Helvetica Neue", Helvetica, sans-serif !important
header
  display none !important
section.archive
  border none !important
  background transparent
  & > a, div.pagination
    display none !important
    visibility hidden !important
  h4
    font-family Arial, "Helvetica Neue", Helvetica, sans-serif !important
    color #000 !important
    &.message-id
      display block !important
  .message
    a, time, button, p
      font-family Arial, "Helvetica Neue", Helvetica, sans-serif !important
      color #000 !important
      text-shadow none !important
#channel-list, #channel-list-holder, #channels-content a.separator, #channels-content aside.sidebar, #channels-content ul.sendto, footer#bottom, section.account, section.help, section.forgot
  display none !important
  visibility hidden !important
#channels-content, menu#channels
  left 0 !important
  border none !important
#channels-content
  top 50px !important
  height auto !important
  width 100% !important
  padding 0 !important
  #smiles
    display none !important
    visibility hidden !important
  & > section
    height auto !important
    width 100% !important
    position static
    div.chat
      & > button
        display none !important
        visibility hidden !important
      height auto !important
      width 100% !important
      div.scrollableArea
        height auto !important
        overflow visible !important
        width 100% !important
        div.message
          a, time, button, p
            font-family Arial, "Helvetica Neue", Helvetica, sans-serif !important
            color #000 !important
            text-shadow none !important
        div.notifications
          display none !important
          visibility hidden !important
menu#channels li
  display none !important
  border none !important
  button
    border none !important
    font-size 1.3em !important
    font-family Arial, "Helvetica Neue", Helvetica, sans-serif !important
    padding 0 !important
  &.current
    display block !important