h1 Часто задаваемые вопросы
.clearfix.expand
  .helpscroll
    button.scrollingHotSpotUp ˄ ˄ ˄
    .scrollableArea
      ol
        li Как пригласить пользователя в приват?
        p Нажмите правой кнопкной мышки на нужного пользователя и нажмите "приват"
        li Как игнорировать пользователя?
        p Нажмите правой кнопкной мышки на нужного пользователя и нажмите "игнор"
        li Как посмотреть историю сообщений?
        p История сообщений сохраняется только в публичных комнатах, посмотреть ее можно в <a href="/archive" target="_blank">архиве</a> или нажав правой кнопкой мышки на вкладке комнаты и выбрать "история сообщений"
    button.scrollingHotSpotDown ˅ ˅ ˅
h1 Правила чата
.clearfix
  .rulesscroll
    button.scrollingHotSpotUp ˄ ˄ ˄
    .scrollableArea
      h2 Основные положения
      ol
        li Регистрация/ввод ника на сайте означает полное принятие пользователем/гостем данных правил.
        li Данные правила могут быть изменены и/или дополнены администрацией cайта в одностороннем порядке.
        li Администрация сайта не несет ответсвенности за материалы отправляемые пользователями.
        li Действия Администрации обсуждению не подлежат и жалобы на неё не принимаются.
      h2 Запрещается
      ol
        li Оскорблять участников чата, в случае оскорблений в вашу сторону вы можете добавить участника в игнор лист.
        li Использовать в имени пользователя или личных данных мат или оскорбления.
        li Реклама и спам
        li Флуд в любом его проявлении (массовая/непрерывная отправка сообщений, фразы с верхнем регистре (CAPS LOCK), смайлы в большом количестве)
        li Пользоваться чужими никами или похожими на них.
        li Установка на аватарку фотографий нарущающих законодательство РФ.
      h2 Обязательства
      ol
        li Вы обязуетесь соблюдать положения действующего законодательства РФ и настоящих правил.
    button.scrollingHotSpotDown ˅ ˅ ˅
button.close X
ul.menu
  li
    a(href='/about', target='_blank') О проекте
  li
    a(href='/contact', target='_blank') Контакты
    span |
