div(style='display:none;')
  script
    (function(w, c) {
      (w[c] = w[c] || []).push(function() {
        try {
          w.yaCounter6276298 = new Ya.Metrika({id:6276298, clickmap:true});
          yaCounter6276298.params({ user: '!{ user.name ? user.name : 'гость' }', channel: '#{channels.name}' });
        } catch(e) { }
      });
    })(window, 'yandex_metrika_callbacks');
  script(src='//mc.yandex.ru/metrika/watch.js', defer='defer')
  noscript
    div
      img(src='//mc.yandex.ru/watch/6276298', style='position:absolute; left:-9999px;', alt='')
