div(style='display:none;')
  script
    (function(w, c) {
      (w[c] = w[c] || []).push(function() {
        try {
          w.yaCounter11094574 = new Ya.Metrika({id:11094574, params:{ user: '!{ user.name ? user.name : 'гость' }', channel: '#{channels.name}' }});
          w.Metrika = w.yaCounter11094574;
        } catch(e) { }
      });
    })(window, 'yandex_metrika_callbacks');
  script(src='//mc.yandex.ru/metrika/watch.js', defer='defer')
  noscript
    div
      img(src='//mc.yandex.ru/watch/11094574', style='position:absolute; left:-9999px;', alt='')