img(data-href='/images/smiles/angel.gif',     src='/images/web/blank.gif', width='27', height='26')
img(data-href='/images/smiles/smile.gif',     src='/images/web/blank.gif', width='20', height='24')
img(data-href='/images/smiles/sad.gif',       src='/images/web/blank.gif', width='20', height='24')
img(data-href='/images/smiles/wink.gif',      src='/images/web/blank.gif', width='20', height='20')
img(data-href='/images/smiles/blum.gif',      src='/images/web/blank.gif', width='20', height='24')
img(data-href='/images/smiles/dirol.gif',     src='/images/web/blank.gif', width='21', height='21')
img(data-href='/images/smiles/biggrin.gif',   src='/images/web/blank.gif', width='18', height='18')
img(data-href='/images/smiles/blush.gif',     src='/images/web/blank.gif', width='25', height='25')
img(data-href='/images/smiles/shok.gif',      src='/images/web/blank.gif', width='20', height='20')
img(data-href='/images/smiles/kiss1.gif',     src='/images/web/blank.gif', width='34', height='23')
img(data-href='/images/smiles/cray.gif',      src='/images/web/blank.gif', width='31', height='22')
img(data-href='/images/smiles/kiss2.gif',     src='/images/web/blank.gif', width='47', height='24')
img(data-href='/images/smiles/crazy.gif',     src='/images/web/blank.gif', width='20', height='27')
img(data-href='/images/smiles/laugh.gif',     src='/images/web/blank.gif', width='20', height='25')
img(data-href='/images/smiles/acute.gif',     src='/images/web/blank.gif', width='27', height='24')
img(data-href='/images/smiles/air_kiss.gif',  src='/images/web/blank.gif', width='23', height='26')
img(data-href='/images/smiles/bad.gif',       src='/images/web/blank.gif', width='20', height='20')
img(data-href='/images/smiles/beee.gif',      src='/images/web/blank.gif', width='28', height='28')
img(data-href='/images/smiles/dance.gif',     src='/images/web/blank.gif', width='31', height='24')
img(data-href='/images/smiles/punish.gif',    src='/images/web/blank.gif', width='48', height='30')
img(data-href='/images/smiles/diablo.gif',    src='/images/web/blank.gif', width='37', height='31')
img(data-href='/images/smiles/spiteful.gif',  src='/images/web/blank.gif', width='20', height='20')
img(data-href='/images/smiles/music.gif',     src='/images/web/blank.gif', width='28', height='25')
img(data-href='/images/smiles/drinks.gif',    src='/images/web/blank.gif', width='51', height='28')
img(data-href='/images/smiles/good.gif',      src='/images/web/blank.gif', width='27', height='24')
img(data-href='/images/smiles/inlove.gif',    src='/images/web/blank.gif', width='20', height='26')
img(data-href='/images/smiles/dash.gif',      src='/images/web/blank.gif', width='31', height='26')
img(data-href='/images/smiles/nea.gif',       src='/images/web/blank.gif', width='36', height='26')
img(data-href='/images/smiles/pardon.gif',    src='/images/web/blank.gif', width='36', height='26')
img(data-href='/images/smiles/mail.gif',      src='/images/web/blank.gif', width='36', height='26')
img(data-href='/images/smiles/yes.gif',       src='/images/web/blank.gif', width='20', height='24')
img(data-href='/images/smiles/preved.gif',    src='/images/web/blank.gif', width='43', height='28')
img(data-href='/images/smiles/give_rose.gif', src='/images/web/blank.gif', width='30', height='26')
img(data-href='/images/smiles/sleep.gif',     src='/images/web/blank.gif', width='29', height='29')
img(data-href='/images/smiles/heat.gif',      src='/images/web/blank.gif', width='33', height='29')