!!! 5
html(lang='ru')
  head
    title CoffeeChat // #{title}

    meta(charset='utf-8')
    meta(name='keywords', content='бесплатный чат, чат онлайн, чат кроватка, чат знакомств, веб чат, русский чат, анонимный чат')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='icon', type='image/x-icon', href='/favicon.ico')

    link(rel='stylesheet', media='all', href='/stylesheets/web/plugins.css', media='all')

    - if (env == 'production')
      link(rel='stylesheet', href='/stylesheets/web/archive.css', media='all')
      link(rel='stylesheet', href='/stylesheets/web/print.css', media='print')
    - else
      link(rel='stylesheet', href='/web/archive.css', media='all')
      link(rel='stylesheet', href='/web/print.css', media='print')

    //if lt IE 9
      link(rel='stylesheet', href='/stylesheets/web/ie9.css', media='all')
  body
    #app
      header#top
        img(src='/images/web/logo.png', width='176', height='36')#logo
      !{body}