!!! 5
html(lang='ru')
  head
    title CoffeeChat // #{title}

    meta(charset='utf-8')
    meta(name='keywords', content='бесплатный чат, чат онлайн, чат кроватка, чат знакомств, веб чат, русский чат, анонимный чат')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='icon', type='image/x-icon', href='/favicon.ico')

    link(rel='stylesheet', media='all', href='/stylesheets/web/plugins.css')

    - if (env == 'production')
      link(rel='stylesheet', href='/stylesheets/web/archive.css')
    - else
      link(rel='stylesheet', href='/web/archive.css')
  body
    #app
      header#top
        img(src='/images/web/logo.png', width='176', height='36')#logo
      section#container !{body}