extends archive/layout

block body
  section.archive#messages-container
    h4.message-id #{title}
    #messages
      .message.clearfix
        .share42init
        time [#{data.message.timeString}]
        button.name #{data.user.name}
        | :
        p !{data.message.text}